.usedTime {
  background-color: white;
  height: 530px;

  &-container {
    text-align: center;
    width: 97%;
  }
}

table {
  table-layout: fixed;
  cursor: pointer;

  tbody {
    td {
      vertical-align: middle;
    }
    tr {
      height: 80px;
    }
  }
}

tfoot {
  border-top: none !important;

  tr {
    border: none !important;

    td {
      border: none !important;
    }
  }
}

nav {
  .pagination {
    justify-content: flex-end;
  }

  li a {
    text-decoration: none;
    color: black;
  }
}
