.section {
  background-color: rgb(248, 248, 245);
  padding: 10px;

  .header {
    background-color: #fff;
    margin-bottom: 10px;
  }
}

.padding-title {
  padding-top: 35px;
  padding-left: 35px;

  @include mobile {
    padding-top: 5px;
    padding-left: 5px;
  }
}

.height{
  display:flex;
  input{
    margin-left: 24px;
  }
  margin-bottom: 20px;
}


form{
  button{
    margin-left: 115px !important;
    margin-top: 10px;
  }
}
